.inside_image {
    margin-top: 2%;
}

.profile_img {
    border-radius: 100px;
    width: 40px;
    padding: 4px;
}

.div_user {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}

.username {
    position: absolute;
    top: 15%;
    font-weight: 400;
}

.username>a {
    text-decoration: none;
    color: black;
}

.for-hires {
    position: absolute;
    top: 110px;
    left: 65px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
}

.verified-tiks {
    margin-left: 5px;
}

.for-hires:hover {
    text-decoration: underline;
}

/**** Like Icon *****/
.icon {
    border: 1px solid rgb(168, 168, 168);
    padding: 7px;
    border-radius: 5px;
    margin-left: 77%;
}

.icon:hover {
    border-color: black;
    transition: 0.5s;
}

.icon_change {
    background-color: #F15151;
    padding: 7px;
    border-radius: 5px;
}

/***** Plus Icon *****/

.plus_icon {
    border: 1px solid rgb(168, 168, 168);
    padding: 7px;
    border-radius: 5px;
    margin-left: 1%;
}

.plus_icon:hover {
    border-color: black;
    color: black;
    transition: 0.5s;
}

/**** Download Icon ****/

.download_size {
    border: 1px solid rgb(168, 168, 168);
    font-size: 15px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7% 0% 0% 7% / 16% 25% 24% 16%;
    margin-left: 1%;
    cursor: pointer;
    background: none;
}

.download_size:hover {
    border: 1px solid rgb(61, 61, 61);
    transition: 0.5s;
}


.dropdown-container {
    display: inline-block;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    right: 1%;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}

.drop_icon {
    border: 1px solid rgb(168, 168, 168);
    padding: 8px;
    border-radius: 0% 11% 11% 0% / 28% 25% 28% 30%;
    margin-top: 12%;
}

.drop_icon:hover {
    border: 1px solid rgb(58, 58, 58);
}

/**** Image ****/

.main_image {
    height: auto;
    margin-left: 30%;
    margin-top: 2%;
}

.all_details {
    display: flex;
    align-items: center;
}

.view {
    margin-left: 2%;
    margin-top: 7%;
}

.views_para {
    font-weight: 600;
    color: rgb(128, 128, 128);
}


.download-f {
    margin-left: 4%;
    margin-top: 7%;
}

.download_para {
    font-weight: 600;
    color: rgb(128, 128, 128);
}

.camera {
    margin-left: 4%;
    margin-top: 7%;
}

.camera_para {
    font-weight: 600;
    color: rgb(128, 128, 128);
}


.gif_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 15%;
}

.loaders_gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 15%;
}

.share_icon {
    margin-top: 7%;
    margin-left: 50%;
    color: #8b8b8b;
    border: 1px solid #8b8b8b;
    padding: 12px;
    height: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.share_icon:hover{
    color: black;
    transition: 0.5s;
    border: 1px solid black;
}

.share-dropdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
    border-radius: 4px;
    z-index: 100;
}

.share-dropdown p {
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.share-dropdown img {
    width: 15px;
    height: 16px;
    margin-right: 10px;

}

.share-dropdown p:hover {
    background-color: #f1f1f1;
}

.info_icon {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: 7%;
    margin-left: 2%;
    color:#8b8b8b;
    border: 1px solid #8b8b8b;
    padding: 12px;
    height: 6px;
    border-radius: 5px;
}
.info_icon:hover{
    color: black;
    transition: 0.4s;
    border: 1px solid black;
}
.dropdown-content{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    padding: 15px;
    right: 20px;
    top: 135%;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 100;
    cursor: pointer;
}

.dropdown_content p {
    color:#8b8b8b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content p.active{
    color: black;
}



.action_icon {
    margin-top: 7%;
    margin-left: 2%;
    border: 1px solid #8b8b8b;
    padding: 15px;
    padding-top: 0px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.action_icon:hover {
    border: 1px solid black;
}

.action_image {
    margin-top: 40%;
}

.report-dropdown {
    position: absolute;
    padding: 15px 40px 10px 10px;
    right: 20px;
    top: 135%;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 100;
    cursor: pointer;
}

.report-dropdown p {
    color: #F15151;
    cursor: pointer;
}

.icon_location {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 5%;
}

.icon_image_location {
    width: 20px;
}

.location_para {
    color: #5f5f5f;
    font-weight: 400;
}

.iocn_calender {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;
}

.calender_para {
    color: #5f5f5f;
    font-weight: 400;
}

.icon_camera {
    display: flex;
    align-items: center;
    margin-left: 1.8%;
    margin-top: 1%;
}

.icon_image {
    width: 21px;
}

.camera_para {
    color: #5f5f5f;
    font-weight: 400;
}

.icon_security {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;
}

.security_para {
    color: #5f5f5f;
    font-weight: 400;
}

.security_para>a {
    text-decoration: none;
    color: #5f5f5f;
    cursor: pointer;
}

.security_para>a:hover {
    transition: 0.3s;
    color: black;
    text-decoration: underline;
}



/***** Random Images *****/
h1 {
    margin-left: 6%;
    margin-top: 4%;
}

.image-grid_column {
    width: 95%;
	padding: 40px 0px 0px 50px;
	background-color: #fff;
	columns: 3;
	column-gap: 20px;
}

.image_grid_columm{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
}
.descriptive_userimage{
    position: absolute;
	bottom: 40px;
	right: 80%;
	width: 40px;
	border-radius: 50px;
	cursor: pointer;
	display: none;
}
.descriptive_username{
    position: absolute;
	bottom: 60px;
	left: 80px;
	color: white;
	font-weight: 500;
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}
.plus_down_design{
    position: absolute;
	bottom: 90%;
	right: 30px;
	background-color: white;
    padding: 25px;
	font-weight: 500;
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}
.for-hire{
    position: absolute;
	bottom: 40px;
	left: 80px;
	display: flex;
	align-items: center;
	color: white;
	font-weight: 500;
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}
.verified-tik{
    margin-left: 5px;
}
.download_image{
    position: absolute;
	bottom: 40px;
	right: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}
.image-container:hover .download_image {
	display: block;
}
.image-container:hover .plus_down_design {
	display: block;
}

.image-container:hover .descriptive_userimage {
	display: block;
}

.image-container:hover .descriptive_username{
	display: block;
}

.image-container:hover .for-hire {
	display: flex;
}
.image-container {
	position: relative;
}
@media (max-width: 1024px) {

    .username,
    .profile_img,
    .download_size,
    .dropdown-container,
    .all_details,.icon,.plus_icon {
        display: none;
    }
}
@media (max-width: 1200px){
    .image-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1365px) and (min-width: 1024px){
    /* .username{
    } */
}
@media (max-width: 450px){
    .main_image{
        /* margin-left: 0; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}