.gallery {
	width: 95%;
	padding: 40px 0px 0px 50px;
	background-color: #fff;
	columns: 3;
	column-gap: 20px;
	z-index: 999;
}

.grid-images {
	width: 50%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 20px;
	cursor: zoom-in;
}

.photo-container {
	position: relative;
}

.download {
	position: absolute;
	bottom: 40px;
	right: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}

.gallery_username {
	position: absolute;
	bottom: 60px;
	left: 80px;
	color: white;
	font-weight: 500;
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}

.for-hire {
	position: absolute;
	bottom: 40px;
	left: 80px;
	display: flex;
	align-items: center;
	color: white;
	font-weight: 500;
	border-radius: 7px;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
}

.verified-tik {
	margin-left: 5px;
}

.gallery_userimage {
	position: absolute;
	bottom: 40px;
	right: 80%;
	width: 40px;
	border-radius: 50px;
	cursor: pointer;
	display: none;
}

.photo-container:hover .download {
	display: block;
}

.photo-container:hover .gallery_userimage {
	display: block;
}

.photo-container:hover .gallery_username {
	display: block;
}

.photo-container:hover .for-hire {
	display: flex;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 140%;
	margin-top: 25%;
}
.unsplash_down{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.unsplash_down img{
	width: 30px;
}

@media (max-width: 1024px) {
	.gallery {
		padding: 80px 8px 0 8px;
		columns: 2;
	}

	.photo-container:hover .download,
	.gallery_userimage,
	.gallery_username,.for-hire,.verified-tik {
		display: none;
	}
}
@media (max-width: 400px){
	.gallery {
		columns: 1;
	}
}
